@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.animated-image-container {
    position: relative;
    height: 500px;
    overflow: hidden;
    
  }
  
  .animation {
    animation: upDownAnimation 2s infinite alternate;
  }

  .textStyle {
    font-family: Poppins;
  }
  
  @keyframes upDownAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-4%);
    }
    100% {
      transform: translateY(0);
    }
  }


  /* button :hover */


  
  .hover-animation {
    transition: all 0.2s ease-in-out 0.5s;
  }
  
  .hover-animation:hover {
    transform: scale(1.4);
    background-color: #1a2226 ;
  }
