
.homepageWrapper{
    display: flex;
    flex-wrap: wrap-reverse;
}

.leftPart{

    flex: 1;
    padding: 20px 60px 20px 160px ;

}
.greyFont {
    color: #5b697d;
    font-family: var(--font-poppins);
    line-height: 20px;
    font-size: 14px;
}

.toptext{
    padding-top: 10vh;
    line-height: 70px;
}
.nametext{
    font-size: 50px;
    line-height: 70px;
}
.role{
    font-family: var(--font-poppins);
    margin: 0;
    font-size: 50px;
}
.role span {
    color: #fff;
}

.buttons {
    display: flex;
    margin-top: 5vh;
}

.homeBtn {
    border-radius: 8px;
    border: none;
    padding: 14px 20px;
    cursor: pointer;
    font-size: 16px;
}
.btnRes {
    background-color: var(--color-brown);
    color: #fff;
    transition: all 0.8s ease-in-out;
  
}

.btnRes:hover{
    background-image:linear-gradient(120deg, rgba(165, 0, 52, 1) 15%, rgba(135, 0, 31, 1) 35%, rgba(105, 0, 8, 1) 50%, rgba(76, 0, 1, 1) 65%, rgba(47, 0, 2, 1) 85%, rgba(0, 0, 0, 1) 100%);
    
}

.btnProj{
    color: var(--color-brown);
    margin-left: 30px;
    font-size: bold;
}

.buttons img {
    overflow: hidden;
    margin-left: 10px;
}
.bottomIcons{
    display: flex;
    margin-top: 80px;
}
.rightPart{
    flex: 1;
    padding: 20px;
    
    
}

.selfImg {
    padding-top: 20px;
    width: 535px;
    height: 520px;
    transition: transform 3s ease-in-out;
  
  
  }
  
  .selfImg:hover{
    transform: translateY(-10%);
  }

.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-lightslategray);
    margin-right: 20px;
    cursor: pointer;
    z-index: 2; 
    transition: all 1s ease-in-out;
}

.circle:hover{
    animation: bounce 1s;
}



  .container {
    position: relative;
    /* Add any other styling for your container here */
  }
  
  .waveImage {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 600px; /* Adjust the maximum width as needed */
    height: auto;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .waveeImage {
      max-width: 200px; /* Adjust the maximum width for smaller screens */
    }
  }

  @keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }