
.homepageWrapper{
    display: flex;
    flex-wrap: wrap-reverse;
}

.leftPart{

    flex: 1;
    padding: 20px 60px 20px 160px ;

}
.greyFont {
    color: #5b697d;
    font-family: var(--font-poppins);
    line-height: 20px;
    font-size: 14px;
}

.toptext{
    padding-top: 10vh;
    line-height: 70px;
}
.nametext{
    font-size: 50px;
    line-height: 70px;
}
.role{
    font-family: var(--font-poppins);
    margin: 0;
    font-size: 50px;
}
.role span {
    color: #fff;
}

.buttons {
    display: flex;
    margin-top: 5vh;
}

.homeBtn {
    border-radius: 8px;
    border: none;
    padding: 14px 20px;
    cursor: pointer;
    font-size: 16px;
}
.btnRes {
    background-color: var(--color-brown);
    color: #fff;
    transition: all 0.8s ease-in-out;
  
}

.btnRes:hover{
    background-image:linear-gradient(120deg, rgba(165, 0, 52, 1) 15%, rgba(135, 0, 31, 1) 35%, rgba(105, 0, 8, 1) 50%, rgba(76, 0, 1, 1) 65%, rgba(47, 0, 2, 1) 85%, rgba(0, 0, 0, 1) 100%);
    
}

.btnProj{
    color: var(--color-brown);
    margin-left: 30px;
    font-size: bold;
}

.buttons img {
    overflow: hidden;
    margin-left: 10px;
}
.bottomIcons{
    display: flex;
    margin-top: 80px;
}
.rightPart{
    flex: 1;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.selfImg {
    padding-top: 20px;
    width: 535px;
    height: 520px;
    transition: transform 3s ease-in-out;
  
  
  }
  
  .selfImg:hover{
    transform: translateY(-10%);
  }

.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-lightslategray);
    margin-right: 20px;
    cursor: pointer;
    z-index: 2; 
    transition: all 1s ease-in-out;
}

.circle:hover{
    animation: bounce 1s;
}



  .container {
    position: relative;
    /* Add any other styling for your container here */
  }
  
  .waveImage {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 600px; /* Adjust the maximum width as needed */
    height: auto;
  }
  
  /* Media query for responsiveness */

  /* for small laptop */
  @media (min-width: 1024px) and (max-width: 1366px) {
    .leftPart{
      padding-right: 30px;
    }
    .selfImg {
      width: 450px;
      height: 450px;
      /* padding-left: 40px; */
    
    }
    .greyFont{
      font-size: 12px;
    }
    .nametext{
      font-size: 45px;
    }
    .role span {
      font-size: 45px;
    }
    
  .homeBtn {
    padding: 10px 12px;
    font-size: 12px;
  }
  .circle{
    width: 38px;
    height: 38px;
  }
}

/* for tablet */
@media ((max-width :1023px) and (min-width:768px))
  {
    .waveImage{
      display: none;
    }
    .leftPart{
      padding-right: 160px;
    }
    .toptext{
      padding-top: 1vh;
    }
    .bottomIcons{
      justify-content: center;
    }
    .buttons{
      justify-content: center;
    }
    .greyFont{
      text-align: center;
      font-size: 13px;
      /* line-height: 50px; */
    }
    .nametext{
      text-align: center;
      font-size: 40px;
      line-height: 48px;
    }
    .role span {
      font-size: 40px;
    }
    .role{
      line-height: 50px;
      text-align: center;
    }
    
  .homeBtn {
    padding: 10px 10px;
    font-size: 12px;
  }
    
  }

  /* for larger mobile */
  @media ((max-width :768px) and (min-width:481px)){
    .waveImage{
      display: none;
    }
    .leftPart{
      padding-left: 60px;
      padding-right:60px ;
    }
    .toptext{
      padding-top: 1vh;
    }

  }

  @media (max-width:480px) {
   
    .selfImg{
      display: none;
    }
    .leftPart{
      
      padding-left: 50px;
      padding-right: 20px;
    }
    .toptext{
      padding-top: 0;
    }
    .waveImage{
      display: none;
    }
    .greyFont{
      text-align: center;
      font-size: 10px;
      /* line-height: 50px; */
    }
    .nametext{
      text-align: center;
      font-size: 30px;
      line-height: 45px;
    }
    .role span {
      font-size: 30px;
    }
    .role{
      line-height: 45px;
      text-align: center;
    }
    
  .homeBtn {
    padding: 6px 8px;
    font-size: 8px;
  }
  .bottomIcons{
    margin-top: 50px;
  }
  }

  @keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }