.showcase {
  position: absolute;
  left: 900px;
}
.aboutMe,
.showcase,
.skills {
  top: 3px;
  font-weight: 600;
}
.skills {
  position: absolute;
  left: 800px;
}
.aboutMe {
  left: 665px;
}
.aboutMe,
.logo,
.navbar {
  position: absolute;
}
.logo {
  top: 0;
  left: 0;
  font-size: 25px;
  color: var(--color-brown);
}
.navbar {
  top: 35px;
  left: 165px;
  width: 1051px;
  height: 38px;
}
.asAFinal {
  position: absolute;
  top: 225px;
  left: 1px;
  line-height: 28px;
  display: inline-block;
  width: 700px;
  height: 150px;
}
.imSnehalKupekar {
  margin: 0;
}
.span {
  color: #000;
}
.mernStackDeveloper {
  margin: 0;
  color: var(--color-white);
}
.imSnehalKupekarContainer {
  position: absolute;
  top: 60px;
  left: 0;
  font-size: 50px;
  line-height: 70px;
  display: inline-block;
  width: 700px;
  height: 170px;
}
.welcomeToMy {
  position: absolute;
  top: 0;
  left: 1px;
  line-height: 70px;
  color: #5b697d;
}
.hometext {
  position: absolute;
  top: 170px;
  left: 165px;
  width: 701px;
  height: 429px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-lightslategray);
  font-family: var(--font-poppins);
}
.btnResumeChild {
  position: absolute;
  top: 16px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-brown);
  width: 150px;
  height: 50px;
}
.resume {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: var(--font-size-lg);
  line-height: 82px;
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  width: 104px;
  height: 48px;
}
.vectorIcon {
  position: absolute;
  height: 16.71%;
  width: 7.63%;
  top: 54.55%;
  right: 21.71%;
  bottom: 28.74%;
  left: 65.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.btnResume {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 530px;
  left: 166px;
  width: 150px;
  height: 66px;
}


.btnProjectChild {
  position: absolute;
  top: 15px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightslategray);
  box-sizing: border-box;
  width: 200px;
  height: 50px;
}
.btnProject,
.seeMyProjects {
  position: absolute;
  height: 70px;
}
.seeMyProjects {
  top: 0;
  left: 10px;
  font-size: var(--font-size-lg);
  line-height: 82px;
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-brown);
  text-align: center;
  width: 191px;
}
.btnProject {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 530px;
  left: 355px;
  width: 215px;
  z-index: 2;
}

.btnProject:hover,
.btnProject:focus
{
  box-shadow: inset 0 0 0 2em var(--hover);
}
.waveIcon {
  position: absolute;
  top: 195px;
  left: 280px;
  width: 1800px;
  height: 552px;
  z-index: 1;
}

.outerBox {
  position: relative;
  transition: all 0.6s ease-out;
  perspective: 1000px;
  width: 535px;
  height: 520px;
}

.outerBox:hover{
  transition: all 0.3 linear;
  transform: scale(1.1);
}
.selfImg {
  position: absolute;
  width: 535px;
  height: 520px;
  left: 859px;
  top: 140px;
  transition: transform 3s ease-in-out;


}

.selfImg:hover{
  transform: translateY(-10%);
}
.landingPage {
  position: relative;
  /* background-image: linear-gradient(to bottom right,  #3B3E45,#16141A,#16141A); */
  width: 100%;
  height: 749px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-lightslategray);
  font-family: var(--font-poppins);
  
}

.circle{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 175px;
  top: 645px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background:url("../Image/js.png"); */
  background-color: var(--color-lightslategray);
  
  cursor: pointer;
  /* border: 6px solid #fff; */
  z-index: 2;
  


}


@media screen and (max-width : 1350px){
  .waveIcon{
    display: none;
  }
  .selfImg {
    display: none;

  }

  .hometext{
    text-align: center;
    font-size: 14px;
    left: 320px;
  }
  .welcomeToMy{
    left: 270px;
  }
}
@media screen and (max-width : 900px){
  .waveIcon{
    display: none;
  }
  .selfImg {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .landingPage {
    width: 700px;
    height: 900px;
  }
  .waveIcon {
    position: absolute;
    top: 214px;
    left: 357px;
    width: 1800px;
    height: 552px;
  }
}
